.main {
  padding: 120px 0px;
  /* overflow-x: auto; */
}

.textCenter {
  text-align: center;
}

.heddingYspacing {
  padding: 36px 0 70px 0;
}

.marquee {
  margin-bottom: 120px;
}

.logoWrap {
  margin-right: 7px;
}

.cardBox {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  margin: 0 20px 0 20px;

}

@media (max-width: 992px) {
  .main {
    padding: 70px 0px;
  }

  .heddingYspacing {
    padding: 31px 0;
  }

  .marquee {
    margin-bottom: 71px;
  }

  .logoWrap {
    height: 83px;
    width: 123px;
  }

  .cardBox {
    justify-content: flex-start;
    column-gap: 19px;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 550px) {
  .main {
    padding: 50px 0px;
  }

  .marquee {
    margin-bottom: 56px;
  }

  .logoWrap {
    height: 70px;
    width: 103px;
  }

  .heddingYspacing {
    padding: 20px 0;
  }
}
