.main {
  position: relative;
  padding: 0 90px 120px 90px;
}

.boxText {
  position: relative;
  background-image: url(../../../_assets//pngs/BgJoinUs.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  width: 100%;
  border-radius: 15px;
}

.boxButton {
  margin-top: 45px;
  text-align: center;
}

.contentBox {
  position: absolute;
  top: 50%;
  left: 163px;
  transform: translateY(-50%);
}

.ToadWithBeer {
  position: absolute;
  bottom: -20px;
  right: 107px;
}

@media (max-width: 992px) {
  .main {
    padding: 0px 0 71px 50px;
  }

  .boxText {
    width: 471px;
    height: 252px;
  }

  .boxButton {
    margin-top: 40px;
  }

  .contentBox {
    left: 50%;
    transform: translate(-50% , -50%);
  }

  .ToadWithBeer{
    width: 161px;
    height: auto;
    right: 76px;
  }
  
}

@media (max-width: 550px) {
  .main {
    padding: 0px 0px 64px 0px;
  }

  .boxText {
    text-wrap: nowrap;
    height: 252px;
    width: 100%;
    border-radius: 0;
  }

  .boxButton {
    margin-top: 25px;
  }

  .contentBox {
    top: 58px;
    left: 30px;
    transform: translate(0 , 0);
  }

  .ToadWithBeer{
    width: 135px;
    height: 235px;
    right: 22px;
  }
  
}