.parentBox {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../_assets//pngs/heroHome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parent {
  padding: 258px 0px 128px 90px;
}

.boxHeddingImage {
  width: 100%;
  max-width: 533px;
  height: auto;
}

.heddingImage {
  width: 100%;
  height: 100%;
}

.boxParagraph {
  max-width: 640px;
  width: 100%;
  margin: 25px 0;
}

.mobileBoxParagraph {
  display: none;
}

@media (max-width: 992px) {
  .parent {
    padding: 195px 0px 70px 50px;
  }

  .heddingImage {
    width: 456px;
    height: auto;
  }

  .boxParagraph {
    display: none;
  }

  .mobileBoxParagraph {
    display: block;
    margin: 26px 0;
    width: 100%;
    max-width: 466px;
  }
}

@media (max-width: 550px) {
  .parent {
    padding: 165px 0px 30px 30px;
  }

  .heddingImage {
    width: 290px;
    height: auto;
  }

  .boxParagraph {
    display: none;
  }

  .mobileBoxParagraph {
    display: block;
    margin: 20px 0;
    width: 100%;
    max-width: 295px;
  }
}
