.parentBox {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../_assets//pngs/heroHome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 720px; */
}

.parent {
  padding: 258px 90px 128px 90px;
}

.heddingImage {
  width: 533px;
  height: 87px;
  margin-bottom: 20px;
}

.boxParagraph {
  max-width: 640px;
  width: 100%;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .parentBox {
    /* height: 534px; */
  }

  .parent {
    padding: 195px 50px 70px 50px;
  }

  .heddingImage {
    width: 450px;
    height: auto;
  }

  .boxParagraph {
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 550px) {
  .parentBox {
    /* height: 500px; */
  }
  .parent {
    padding: 165px 30px 30px 30px;
  }

  .heddingImage {
    width: 290px;
    height: auto;
  }

  .boxParagraph {
    max-width: 290px;
    width: 100%;
  }
}
